.footer {
    margin-top: 7%;
    width: 100%;
    padding: 0 10%;
    height: 28vh;
    background-color: #8a2b06bd;
    color: white;

    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    font-size: 1rem;
    overflow: auto;
    text-align: center;
}

@media (max-width: 706px) {
    .footer {
        height: 15vh;
    }
}